/* 게시판 글쓰기 */

h1 {
	text-align: center;
}

#board_write {
	width:830px;
	position:relative;
	margin:0 auto;
}
#write_area {
	margin-top:70px;
	font-size:14px;}
#in_name {
	margin-top:30px;
}
#in_name textarea {
	font-weight:bold;
	font-size:26px;
	color:#333;
	width: 830px;
	border:none;
	resize: none;
}
#in_title {
	margin-top:30px;
}
#in_title textarea {
	font-weight:bold;
	font-size:26px;
	color:#333;
	width: 830px;
	border:none;
	resize: none;
}
.wi_line {
	border:solid 1px lightgray;
	margin-top:10px;
}
#in_content {
	margin-top:10px;
}
#in_content textarea {
	font:14px;
	color:#333;
	width: 830px;
	
	resize: none;
}
#in_pw textarea {
	font:14px;
	color:#333;
	width: 830px;
	height: 200px;
	resize: none;
}
.btn_submit {
	float: center;
	margin-top:20px;
	text-align:center;
}
.bt_se button {
	margin-left: 360px;
	text-align:center;
	background-color: black;
	color: white;
	width:100px;
	height:30px;
}