.filterDiv {
    float: left;
    background-color: black;
    color: white;
    width: 100px;
    line-height: 30px;
    text-align: center;
    margin: 2px;
    display: none;
    border: 0; 
    outline: 0;
}

.image_description {
    display: flex;
    justify-content: center;
    float: center;
}

.show {
    display: block;
}
.container {
    overflow: hidden;
}

/* Style the buttons */
.btn {
    border:none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.btn:hover {
    background-color: #ddd;
}
.btn.active {
    background-color: #effe09;
    color: white;
}
#main .thumbnails {
    display: flex;
}
#main .thumbnails>div {
    flex-grow: 1;
    margin-right: 1rem;
    margin-left:1rem;
}
#main .thumbnails img {
    width:100%
}

#main .thumbnails h3{
    margin-top:0px;
}

#main .image_description {
    border-top:1px solid rgba(0,0,0,0.5);
    border-left:1px solid rgba(0,0,0,0.5);
    border-right:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
    margin-bottom: 1rem;
}

